@charset "utf-8";
/* MINDsLab. CSJ. 20210326 */

/*Scroll Bar Style*/
::-webkit-scrollbar{width:5px; height:6px; border-radius:3px;}/* 스크롤바의 width */
::-webkit-scrollbar-track{background-color:rgba(255,255,255,0.2);}/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb{background-color:rgba(255, 255, 255, 0.8); border-radius:3px;}/* 스크롤바 색 */
::-webkit-scrollbar-button{display:none;}/* 위 아래 버튼 (버튼 없애기를 함) */

/* ==================== wrap ==================== */
#wrap{position:relative; width:100%; min-width:1024px; height:100%;}
/* #wrap:before{content:''; position:absolute; top:0; left:0; width:100%; height:250px; background:linear-gradient(45deg, #008ad8, #00aebc);} */

/* ==================== header ==================== */
/* .top_banner */
.top_banner{display:block; position:relative; width:100%; height:60px; padding:8px 0; background:#2a3153; box-sizing:border-box; z-index:1;}
.top_banner .topB_inner {position:relative; max-width:1154px; margin:0 auto;}
.top_banner .topB_inner .topB_txt{display:table; margin:0 auto;}
.top_banner .topB_inner .topB_txt .topB_img{display:inline-block; width:59px; height:45px; background:url('../images/img_bitmap_pc.png') 100% no-repeat; vertical-align:middle;}
.top_banner .topB_inner .topB_txt p{display:inline-block; margin-left:23px; font-size:16px; font-weight:500; vertical-align:middle;}
.top_banner .topB_inner .topB_txt p b{display:inline-block; font-size:16px; font-weight:500; color:#08bdba;}
.top_banner .topB_inner .topB_txt .btn_top_banner{margin-left:20px; padding:6px 15px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; background:#08bdba; font-size:14px; font-weight:500; letter-spacing:-0.2px; vertical-align:middle;}
.top_banner .topB_inner .btn_close_threeDays{ position:absolute; top:50%; right:0; height:13px; padding-right:20px; background:url('../images/ico_top_banner_close.png') right center no-repeat; font-size:13px; font-weight:300; line-height:0; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); cursor:pointer;}

/* .stn_banner */
.stn_banner {height:560px; background-image:radial-gradient(circle at 101% 24%, rgba(28, 217, 255, 0.8), #0bd6ff, #2ddbff 6%, #8190ff 54%, #7f8aff 82%);}

/* #header */
#header{display:block; position:fixed; top:0; width:100%; min-width:1024px; height:80px; padding:0 25px; box-sizing:border-box; transition:all 0.3s ease-out; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; z-index:300;}
#wrap.topBanner #header{top:60px;}
#header .maum_sta{display:flex; justify-content:space-between; width:100%; height:100%;}
/* maum_left */
#header .maum_sta .maum_left{display:flex; align-items:center; height:100%;}
#header .maum_sta h1{float:left; width:91px; height:37px; margin:0 25px;}
#header .maum_sta h1 a{display:block; width:100%; height:100%; background-image:url('../images/logo_maumAi_w.svg'); background-size:100%; text-indent:-200%;}
#header .maum_sta .maum_gnb{float:left; height:100%;}
#header .maum_sta .nav{width:auto; height:100%;}
#header .maum_sta .nav::after{display:block; clear:both; content:'';}
#header .maum_sta .nav li{float:left; display:block; height:100%;}
#header .maum_sta .nav li a{display:flex; height:100%; align-items:center; justify-content:center; padding:0 25px; color:#fff; font-size:14px; letter-spacing:-0.19px;}
/* #header.on */
#header.on{height:60px; background:#fff;}
#header.on .maum_sta h1 a{background-image:url('../images/logo_maumAi_clr.svg');}
#header.on .maum_sta .nav li a{color:#1e1e1e;}
#header.on .app{width:23px; background:url('../images/ico_app_bk.svg'); background-position:center; background-repeat:no-repeat; background-size:auto;}
/* maum_right */
#header .maum_sta .maum_right{display:flex; align-items:center;}
#header .maum_sta .maum_right li .nav li a{font-weight:500;}
#header .maum_sta .maum_right .user{display:none;}
#header .maum_sta .maum_right .lstBox, #header .maum_sta .maum_right .appBox{display:none;}
#header .btn_ico span{display:none;}
#header .lang::before{font-family:"Font Awesome 5 Free"; -moz-osx-font-smoothing:grayscale; -webkit-font-smoothing:antialiased; display:inline-block; font-style:normal; font-variant:normal; text-rendering:auto; line-height:1; font-weight:900;display:block; content:'\f0ac'; font-size:23px;}
#header .app{width:23px; background:url('../images/ico_app_w.svg'); background-position:center; background-repeat:no-repeat; background-size:auto;}
#header .btn_maum_ham{display:none;}

/* ==================== container ==================== */
#container{position:relative; display:block; width:100%; height:auto;}

/* container(contents) */
#contents{display:block; width:100%; height:auto;}

/* contents(content) */
.content{display:block; width:100%; height:auto;}

/* stn_top_wrap */
.stn_top_wrap{position:relative; width:100%; height:1130px; background-image: radial-gradient(circle at 101% 24%, rgba(28, 217, 255, 0.8), #0bd6ff, #2ddbff 6%, #8190ff 54%, #7f8aff 82%);}
.stn h3{font-size:45px; font-weight:500; text-align:center; letter-spacing:-1.13px;}
.stn .stn_desc{margin-top:17px; font-family:'AppleSDGothicNeo', sans-serif; font-size:17px; line-height:24px; letter-spacing:-0.12px; text-align:center;}
.btn_go_white{display:block; width:140px; height:42px; margin-top:22px; border-radius:20px; -webkit-border-radius:20px; -moz-border-radius:20px; -ms-border-radius:20px; -o-border-radius:20px; background-color:#ffffff; color:#5b6ae2; font-size:15px; font-weight:500; line-height:42px; text-align:center; opacity:0.9; box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.15);}

/* .stn_top_banner */
.stn_top_wrap .stn_top_banner{overflow:hidden; position:relative; width:100%; height:560px; z-index:1;}
.stn_top_wrap .stn_top_banner .stn_cont{display:flex; justify-content:space-between; width:948px; margin:0 auto; padding-top:197px; box-sizing:border-box;}
.stn_top_wrap .stn_top_banner .stn_img_cont{display:block; position:absolute; top:0; width:100%; height:100%;}
.stn_top_wrap .stn_top_banner .stn_cont_img{display:block; position:absolute; bottom:0; left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%);}
.stn_top_wrap .stn_top_banner .btn_experience{display:flex; justify-content:center; align-items:center; position:absolute; left:50%; bottom:48px; width:200px; height:48px; border:0; border-radius:24px; -webkit-border-radius:24px; -moz-border-radius:24px; -ms-border-radius:24px; -o-border-radius:24px; background:#5b6ae2; color:#fff; font-size:20px; font-weight:500; letter-spacing:-0.17px; transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 2px 0 #a3acf3;}
.stn_top_wrap .stn_top_banner .stn_cont .cont_left{margin-left:54px;}
.stn_top_wrap .stn_top_banner .stn_cont .cont_left p{font-size:34px; font-weight:100; letter-spacing:-1.68px;}
.stn_top_wrap .stn_top_banner .stn_cont .cont_left h3{margin-top:-2px; font-size:58px; letter-spacing:-0.5px; text-shadow:0 2px 2px rgba(0, 0, 0, 0.05);}
.stn_top_wrap .stn_top_banner .stn_cont .cont_right{margin-right:-57px; font-size:34px; line-height:52px; letter-spacing:-1.05px; text-shadow:0 2px 2px rgba(0, 0, 0, 0.05);}
.stn_top_wrap .stn_top_bg{position:absolute; top:-150px; width:100%; height:100%; background:url('../images/bg_stn_top_banner.png'); background-position:top center; background-repeat:repeat-x; background-size:2245px 847px; z-index:0;}
.stn_top_wrap .stn_top_btm{position:relative; width:100%; height:570px; padding-top:55px; background-color:rgba(17,12,37,0.1); box-sizing:border-box; z-index:1;}
.tab_slider_area {display:block; width:504px; height:40px; margin:26px auto 45px; border-radius:20px; -webkit-border-radius:20px; -moz-border-radius:20px; -ms-border-radius:20px; -o-border-radius:20px; box-sizing:border-box;}
.tab_slider_area .tab_btn_area {display:block; overflow:hidden; position:relative; width:504px; height:100%; margin:0; padding:0; border-radius:20px; -webkit-border-radius:20px; -moz-border-radius:20px; -ms-border-radius:20px; -o-border-radius:20px; background:rgba(255, 255, 255, 0.1); -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; list-style:none;}
/* .tab_slider_area .tab_btn_area:after { content:""; width:33.33%; background:#59b4c8; height:100%; position:absolute; top:0; left:0; -webkit-transition:all 250ms ease-in-out; transition:all 250ms ease-in-out; border-radius:20px; -webkit-border-radius:20px; -moz-border-radius:20px; -ms-border-radius:20px; -o-border-radius:20px; -moz-transition:all 250ms ease-in-out; -ms-transition:all 250ms ease-in-out; -o-transition:all 250ms ease-in-out; }
.tab_slider_area .tab_btn_area.slide:after { left:33.33%; } */
.tab_slider_area .tab_btn_area .tab_btn {display:flex; align-items:center; justify-content:center; float:left; position:relative; width:33.33%; height:100%; color:#fff; font-size:15px; font-weight:500; text-transform:uppercase; text-align:center; line-height:1; box-sizing:border-box; -webkit-transition:color 250ms ease-in-out; transition:color 250ms ease-in-out; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; cursor:pointer; z-index:2;}
.tab_slider_area .tab_btn_area .tab_btn.on {color:#5b6ae2;}
.tab_slider_area .tab_btn_area .slider{display:block; position:absolute; bottom:0; left:0; width:33.33%; height:100%; border-radius:20px; -webkit-border-radius:20px; -moz-border-radius:20px; -ms-border-radius:20px; -o-border-radius:20px; background:#fff; transition:all 0.5s;}
.tab_slider_area .tab_btn_area .ripple{position:absolute; width:0; height:0; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; background:rgba(255, 255, 255, 0.3); transform:scale(0); opacity:1;}
.tab_slider_area .tab_btn_area .rippleEffect{animation:rippleDrop .2s linear; -webkit-animation:rippleDrop .2s linear;}
@keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
.tab_cnt_area{width:955px; margin:0 auto;}
.tab_cnt_area .tab_cnt{display:none;}
.tab_cnt_area .tab_cnt:first-child{display:block;}
.tab_cnt_area .tab_cnt .tab_cnt_img {float:right;}
.tab_cnt_area .tab_cnt .tab_cnt_txt{float:left;}
.tab_cnt_area .tab_cnt .tab_cnt_txt .tab_cntT_txt{font-size:24px; letter-spacing:-0.5px;}
.tab_cnt_area .tab_cnt .tab_cnt_txt .tab_cntT_tit{margin-top:6px; font-size:53px; font-weight:700;}
.tab_cnt_area .tab_cnt .tab_cnt_txt .tab_cntT_sub{clear:both; margin-top:17px;  font-size:16px; line-height:28px; letter-spacing:-0.5px;}
.tab_cnt_area #tab1 .tab_cnt_txt .tab_cntT_tit{margin-top:4px; font-size:30px; font-weight:500;}
.tab_cnt_area #tab1 .tab_cnt_txt .tab_cntT_tit img{display:inline-block; margin-right:13px; vertical-align:bottom;}
.tab_cnt_area #tab1 .tab_cnt_txt .tab_cntT_sub img{margin-top:21px;}
.tab_cnt_area .tab_cnt .btn_tab_go{display:block; width:140px; height:42px; margin-top:22px; border-radius:20px; -webkit-border-radius:20px; -moz-border-radius:20px; -ms-border-radius:20px; -o-border-radius:20px; background-color:#ffffff; color:#5b6ae2; font-size:15px; font-weight:500; line-height:42px; text-align:center; opacity:0.9; box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.15);}

/* .stn_edge */
.stn_edge{display:flex; justify-content:center; flex-direction:column; -ms-flex-direction:column; align-items:center; width:100%; height:280px; background:url('../images/bg_edge.png'); background-repeat:no-repeat; background-size:100% 100%;}
.stn_edge .btn_go_blue{display:flex; justify-content:center; align-items:center; width:140px; height:42px; margin:30px auto 0; border-radius:20px; -webkit-border-radius:20px; -moz-border-radius:20px; -ms-border-radius:20px; -o-border-radius:20px; background-color:#6979f8; color:#fff; font-size:15px; font-weight:500; box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.15);}

/* .stn_cloud */
.stn_cloud{height:662px; padding:60px 0; background-image:url('../images/bg_wave.png'), radial-gradient(circle at 94% -17%, #4cb1e9, #6a9ce9 11%, #727aff 26%, #5973ff 49%, #074d98 97%, #0255a6 97%); background-position:bottom center; background-repeat:no-repeat; background-size:120%; box-sizing:border-box;}
.stn_cloud .stn_cont{width:955px; margin:0 auto;}
.stn_cloud .stn_cont::after{display:block; clear:both; content:'';}
.stn_cloud .stn_cloud_left{width:22%; float:left; text-align:left;}
.stn_cloud .stn_cloud_left h3{text-align:left;}
.stn_cloud .stn_cloud_left .stn_desc{margin-top:14px; letter-spacing:-0.7px; text-align:left;}
.stn_cloud .stn_cloud_left .btn_go_white{margin-top:33px;}
.stn_cloud .stn_cloud_right{width:78%; float:right;}
.stn_cloud .stn_cloud_right .cloud_slider{float:right; position:relative; width:660px; margin-top:-20px;}
.stn_cloud .stn_cloud_right .cloud_slider::after{clear:both; content:''; display:block;}
.stn_cloud .stn_cloud_right .cloud_slider .cloud_list{float:left; position:relative; width:200px; margin:20px 0 0 20px;}
.stn_cloud .stn_cloud_right .cloud_slider_icon{display:flex; align-items:center; justify-content:center; position:relative; width:60px; height:60px; margin:0 auto; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; box-shadow:0 2px 4px 0 rgba(37, 49, 100, 0.2); z-index:1;}
.stn_cloud .stn_cloud_right .cloud_slider_cont{display:block; position:relative; width:100%; height:232px; margin-top:-30px; padding:40px 22px 20px 20px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; background:rgba(255,255,255,0.85); box-sizing:border-box; box-shadow:0 2px 10px 0 rgba(0, 0, 0, 0.1); z-index:0;}
.stn_cloud .stn_cloud_right .cloud_slider_cont .cloud_cont_tit{margin-bottom:4px; color:#333b60; font-size:15px; font-weight:700; letter-spacing:-0.5px;}
.stn_cloud .stn_cloud_right .cloud_slider_cont .cloud_cont_sub{font-size:12px; color:#414853; letter-spacing:-0.4px;}
.stn_cloud .stn_cloud_right .cloud_slider_cont .cloud_cont_desc{margin-top:12px; color:#333b60; font-size:14px; line-height:20px; letter-spacing:-0.77px;}
.stn_cloud .stn_cloud_right .cloud_slider_cont .btn_introVideo{display:block; position:absolute; bottom:20px; left:50%; width:92px; height:32px; margin:0 auto; border-style:solid; border-width:1px; border-radius:16px; -webkit-border-radius:16px; -moz-border-radius:16px; -ms-border-radius:16px; -o-border-radius:16px; background:#fff; font-size:12px; font-weight:500; text-align:center; line-height:30px; box-sizing:border-box; transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%);}
.stn_cloud .stn_cloud_right .cloud_slider_cont .btn_introVideo span{font-weight:500;}
.stn_cloud .stn_cloud_right .cloud_slider_cont .btn_introVideo i{display:inline-block; width:12px; margin-right:3px; font-family:'Font Awesome 5 Brands'; font-style:normal; font-size:12px; font-weight:900; font-variant:normal; line-height:1; text-rendering:auto; -webkit-font-smoothing:antialiased;}
.stn_cloud .stn_cloud_right .cloud_slider_cont .btn_introVideo i::before{content:'\f167';}
.stn_cloud .stn_cloud_right .cld_lsa .cloud_slider_icon{background:#e77787;}
.stn_cloud .stn_cloud_right .cld_sc .cloud_slider_icon, .stn_cloud .stn_cloud_right .cld_stt .cloud_slider_icon{background:#7d71d1;}
.stn_cloud .stn_cloud_right .cld_ffa .cloud_slider_icon, .stn_cloud .stn_cloud_right .cld_kor .cloud_slider_icon{background:#1db6cc;}
.stn_cloud .stn_cloud_right .cld_fr .cloud_slider_icon{background:#53a8ff;}
.stn_cloud .cld_lsa .btn_introVideo{border-color:#e77787;}
.stn_cloud .cld_lsa .btn_introVideo span, .stn_cloud .cld_lsa .btn_introVideo i{color:#e77787;}
.stn_cloud .cld_sc .btn_introVideo, .stn_cloud .cld_stt .btn_introVideo{border-color:#7d71d1;}
.stn_cloud .cld_sc .btn_introVideo span, .stn_cloud .cld_sc .btn_introVideo i, .stn_cloud .cld_stt .btn_introVideo span, .stn_cloud .cld_stt .btn_introVideo i{color:#7d71d1;}
.stn_cloud .cld_ffa .btn_introVideo, .stn_cloud .cld_kor .btn_introVideo{border-color:#1db6cc;}
.stn_cloud .cld_ffa .btn_introVideo span, .stn_cloud .cld_ffa .btn_introVideo i, .stn_cloud .cld_kor .btn_introVideo span, .stn_cloud .cld_kor .btn_introVideo i{color:#1db6cc;}
.stn_cloud .cld_fr .btn_introVideo{border-color:#53a8ff;}
.stn_cloud .cld_fr .btn_introVideo span, .stn_cloud .cld_fr .btn_introVideo i{color:#53a8ff;}

/* .stn_data */
.stn_data{width:100%; padding:53px 0 60px; background-color:#5260C7;background-image:url('../images/bg_data.jpg'); background-position:center; box-sizing:border-box;}
.stn_data .stn_cont{width:955px; margin:0 auto;}
.stn_data .stn_cont .stn_desc{margin-top:14px;}
.stn_data .btn_go_white{margin:27px auto 0;}
.stn_data .data_slider{display:flex; justify-content:space-between; margin:40px auto 0;}
.stn_data .data_slider .data_list{position:relative; width:290px; height:354px; padding:28px 26px 28px 26px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; background:rgba(36,55,108,0.9); box-sizing:border-box;}
.stn_data .data_slider .data_list.v02{margin-top:40px;}
.stn_data .data_slider .data_list p{text-align:center;}
.stn_data .data_slider .data_list .tit{font-size:18px; font-weight:500; letter-spacing:-0.54px;}
.stn_data .data_slider .data_list .data_img{display:block; margin:13px auto 0;}
.stn_data .data_slider .data_list .txt{margin-top:11px; font-size:14px; font-weight:500; line-height:21px; letter-spacing:-0.5px;}
.stn_data .data_slider .data_list .desc{margin-top:9px; font-size:14px; line-height:21px; letter-spacing:-0.5px;}
.stn_data .data_slider .data_list .btn_go_blue.type02{display:flex; justify-content:center; align-items:center; position:absolute; bottom:27px; left:50%; width:145px; height:42px; border: solid 1px #6979f8; border-radius:20px; -webkit-border-radius:20px; -moz-border-radius:20px; -ms-border-radius:20px; -o-border-radius:20px; background-color:rgba(105, 121, 248, 0.3); color:#fff; font-size:15px; font-weight:500; transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%);} 

/* stn_story */
.stn_story{width:100%; padding:54px 0 60px; background:#141e3d;}
.stn_story .stn_cont{width:955px; margin:0 auto;}
.stn_story .story_slider{width:100%; margin-top:38px;}
.stn_story .mt20{margin-top:20px;}
.stn_story .story_slider .story_slider_cont{overflow:hidden; width:976px; height:214px; margin-left:-22px;}
.stn_story .story_slider .story_slider_cont::after{clear:both; content:''; display:block;}
.stn_story .story_slider .story_list{float:left; margin-left:22px;}
.stn_story .story_slider .story_cnt{display:flex; align-items:center; justify-content:center; width:222px; height:97px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; background:#c9d6ff; box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.1);}
.stn_story .story_slider .story_cnt + .story_cnt{margin-top:20px;}
.stn_story .story_slider .story_list:last-child .story_cnt{float:left; margin:0;}
.stn_story .story_slider .story_list:last-child .story_cnt + .story_cnt{margin-left:22px;}
.stn_story .btn_more{position:relative; width:100%; margin-top:20px;}
.stn_story .btn_more .line{display:block; position:absolute; top:50%; width:100%; height:1px; border-top:1px dashed rgba(91,106,226,0.5); z-index:0;}
.stn_story .btn_more button{display:flex; align-items:center; justify-content:center; position:relative; width:140px; height:42px; margin:0 auto; border-radius:20px; -webkit-border-radius:20px; -moz-border-radius:20px; -ms-border-radius:20px; -o-border-radius:20px; box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.15); background-color:#5b6ae2; cursor:pointer; z-index:1;}
.stn_story .btn_more button span{font-family:'AppleSDGothicNeo', sans-serif; font-size:15px; font-weight:700;}
.stn_story .btn_more i{margin-left:7px;}
.stn_story .btn_more i::before{font-size:15px; content:"\f078";}
.stn_story .btn_more.on i::before{content:"\f077";}
.stn_story .btn_more.on .line{display:none;}
.stn_story .story_btm{height:179px; margin-top:24px; padding:26px 0; background:url('../images/bg_story_banner.png'); background-position:center; background-repeat:no-repeat; box-sizing:border-box;}
.stn_story .story_btm .cont{float:left; width:50%; height:100%; text-align:center; box-sizing:border-box;}
.stn_story .story_btm .cont h4{padding-top:9px; font-size:24px; font-weight:500; line-height:24px; letter-spacing:-0.6px;}
.stn_story .story_btm .cont .desc{margin-top:13px; font-size:14px; letter-spacing:-0.5px;}
.stn_story .story_btm .cont .btn_go_white{margin:18px auto 0;}
.stn_story .story_btm .cont:last-child{border-left:1px dashed rgba(209,214,255,0.3);}

/* footer */
#footer{width:100%; padding:60px 0; background:#0c1329;}
#footer .ft_cont{display:flex; flex-direction:row-reverse; align-items:center; justify-content:space-between; max-width:1154px; margin:0 auto;}
#footer .cont{width:50%;}
#footer .footer_sns{width:410px;}
#footer .ft_contact{display:flex; align-items:center; justify-content:space-between; width:410px;}
#footer .ft_contact a{display:flex; align-items:center; justify-content:center; width:200px; height:38px; border-radius:19px; -webkit-border-radius:19px; -moz-border-radius:19px; -ms-border-radius:19px; -o-border-radius:19px; background:rgba(144,156,255,0.1);}
#footer .ft_contact a img{margin-right:10px;}
#footer .ft_contact a span{font-size:14px; font-weight:500;}
#footer .ft_sns_btm{display:flex; flex-direction:row-reverse; align-items:center; justify-content:space-between; margin-top:24px;} 
#footer .ft_sns_btm .ft_sns a{display:block; float:left; width:33px; height:34px; margin-left:15px;}
#footer .ft_sns_btm .ft_sns a:first-child{margin:0;}
#footer .ft_sns_btm .ft_cnt a{font-size:13px; opacity:0.8; margin-right:25px;}
#footer .ft_sns_btm .ft_cnt a:last-child{margin:0;}
#footer .address address span{font-size:13px; line-height:20px;}
#footer .address .copyright{margin-top:27px; font-size:13px; opacity:0.7;}

/* aside_float */
#aside_float{position:fixed; right:0; bottom:30%; width:60px; background:rgba(51,59,96,0.9);border-top-left-radius:10px; border-bottom-left-radius:10px;}
#aside_float a{display:flex; justify-content:center; align-items:center; flex-direction:column; width:100%; height:54px;}

/* iPad2 */
@media (min-width:768px) and (max-width:1023px) {
    .top_banner .topB_inner{width:auto;}
    /* .stn_top_wrap .stn_top_banner .stn_cont .cont_left{margin-left:78px;} */
    .stn_top_wrap .stn_top_banner .stn_cont .cont_right{margin-right:-38px;}
    #footer .ft_cont{max-width:auto;}
}



/* #footer .footer_sns{float:right;} */
/* container(Side Navigation Bar) */
/* #snb{display:table-cell; width:200px; min-width:200px; height:100%; vertical-align:top; background:#fff; box-shadow:0 4px 7px 0 rgba(100,105,120,0.2);}
#snb .lst_nav{display:block; width:200px; padding:35px 0 0 0; border-top:1px solid #eef1f7; transition:all 0.3s ease-out;}
#snb .lst_nav > li{display:block; margin:0 0 15px 0;}
#snb .lst_nav li h3{height:30px; margin:0 0 3px 0; padding:0 15px; color:rgba(11,42,74,0.3); font-size:16px; font-weight:300; line-height:30px; letter-spacing:-1px; text-transform:uppercase;}
#snb .lst_nav li ul{display:block;}
#snb .lst_nav li ul li{display:block; margin:0 0 7px 0;}
#snb .lst_nav li ul li:last-child{margin:0;}
#snb .lst_nav li ul li a{position:relative; height:22px; padding:0 0 0 25px; color:rgba(11,42,74,0.6); font-size:12px; font-weight:400; line-height:20px; text-transform:uppercase; transition:all 0.3s ease-out;}
#snb .lst_nav li ul li a span{position:relative; z-index:10;}
#snb .lst_nav li ul li a:hover, #snb .lst_nav li ul li a:focus{color:rgba(11,42,74,1.0); text-decoration:underline; transition:all 0.3s ease-out;}
#snb .lst_nav li ul li a.active{display:block; position:relative; padding:8px 0 8px 25px; color:#fff;}
#snb .lst_nav li ul li a.active span{font-size:14px;}
#snb .lst_nav li ul li a.active:after{content:''; position:absolute; top:0; left:0; width:calc(100% - 20px); height:100%; border-radius:0 5px 5px 0; box-shadow:0 0 15px rgba(11,42,74,0.3); background:linear-gradient(45deg, #008ad8, #00aebc); z-index:5;} */




/* #header h1{display:block; width:200px;} */
/* #header h1 span{display:block; color:rgba(11,42,74,0.6); font-size:11px; font-weight:normal; line-height:12px; transition:all 0.3s ease-out;}
#header h1 em{display:block; color:rgba(11,42,74,1.0); font-size:15px; font-weight:600; transition:all 0.3s ease-out;}
#header h1 a:hover span, #header h1 a:focus span{color:#00aebc; transition:all 0.3s ease-out;}
#header h1 a:hover em, #header h1 a:focus em{ color:#008ad8; transition:all 0.3s ease-out; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; } */

/* header(select) */
/* #header .selectbox{display:inline-block; width:100px; height:24px; margin:5px 0 0 0; line-height:20px; border:none; border-radius:3px; background:rgba(11,42,74,0.4);}
#header .selectbox:before{right:5px; background:url("../images/arw_bottom_w.png") 50% 50% no-repeat; opacity:0.7;}
#header .selectbox label{left:5px; color:#fff;}

#header .selectbox.focus{border:none; background:rgba(11,42,74,1.0);}
#header .selectbox.focus:before{opacity:1.0;}
#header .selectbox.focus label{color:rgba(255,255,255,1.0);} */

/* header(Service Title Area) */
/* #header .sta{display:table; width:100%; height:100%;} */

/* header(Global Navigation Bar) */
/* #header .sta .gnb{display:table-cell; min-width:295px; padding:0 20px 0 40px; text-align:center; vertical-align:middle;}
#header .sta .gnb ul.nav_gnb {display:inline-block;}
#header .sta .gnb ul.nav_gnb li{display:inline-block; margin:0 10px 0 0;}
#header .sta .gnb ul.nav_gnb li:last-child{margin:0;}
#header .sta .gnb ul.nav_gnb li a{display:block; height:38px; padding:0 7px; color:rgba(11,42,74,0.5); font-size:15px; font-weight:500; line-height:36px; border-radius:4px; letter-spacing:-2px; transition:all 0.3s ease-out;}
#header .sta .gnb ul.nav_gnb li a:hover, #header .sta .gnb ul.nav_gnb li a:focus{color:rgba(11,42,74,1.0); text-decoration:underline;  transition:all 0.3s ease-out;}
#header .sta .gnb ul.nav_gnb li a.active{color:rgba(255,255,255,1.0);} */

/* header(Search) */
/* #header .sta .srchBox{display:table-cell; position:relative; min-width:210px; padding:0 20px; vertical-align:middle;}
#header .sta .srchBox .ipt_srch{display:block; width:calc(100% - 50px); height:24px; padding:8px 42px 8px 8px; color:#fff; font-size:16px; font-weight:500; border:none; border-radius:4px; background:rgba(11,42,74,0.1); transition:all 0.3s ease-out;}
#header .sta .srchBox .ipt_srch:focus{background:rgba(11,42,74,0.3); transition:all 0.3s ease-out;}
#header .sta .srchBox .ipt_srch::-webkit-input-placeholder{color:rgba(255,255,255,0.6);}
#header .sta .srchBox .btn_ico{position:absolute; top:50%; right:30px; overflow:hidden; width:25px; height:25px; margin:-14px 0 0 0; color:#fff; font-size:20px; line-height:40px; text-indent:999px; border:none; background:url("../images/ico_search_w.png") 50% 50% no-repeat; background-size:cover; opacity:0.7; transition:all 0.3s ease-out;}
#header .sta .srchBox .btn_ico:hover, #header .sta .srchBox .btn_ico:focus{opacity:1.0; transition:all 0.3s ease-out;} */

/* header(download list) */
/* #header .sta .etc{display:table-cell; min-width:380px; padding:0 20px; text-align:right; vertical-align:middle;}
#header .sta .etc .nav_download{display:inline-block; margin:0 10px 0 0; padding:0 20px 0 0; text-align:left; vertical-align:middle; border-right:1px solid rgba(255,255,255,0.2);}
#header .sta .etc .nav_download li{display:inline-block; margin:0 10px 0 0;}
#header .sta .etc .nav_download li:last-child{margin:0;}
#header .sta .etc .nav_download li a{display:block; position:relative; height:30px; padding:5px 10px 5px 35px; color:rgba(11,42,74,0.5); font-size:14px; font-weight:500; line-height:16px; border-radius:4px; letter-spacing:-1px; background:rgba(11,42,74,0.1);  transition:all 0.3s ease-out;}
#header .sta .etc .nav_download li a span{display:block; font-size:9px; text-align:center; letter-spacing:1px; opacity:0.7;}
#header .sta .etc .nav_download li a:before{content:''; position:absolute; top:50%; left:10px; display:inline-block; width:15px; height:15px; margin:-10px 7px 0 0; vertical-align:middle; background:url("../images/ico_download_bk.png") 50% 50% no-repeat; background-size:cover; opacity:0.5; transition:all 0.3s ease-out;}
#header .sta .etc .nav_download li a:hover, #header .sta .etc .nav_download li a:focus{color:rgba(255,255,255,1.0); text-decoration:underline; background:rgba(11,42,74,0.3); transition:all 0.3s ease-out;}
#header .sta .etc .nav_download li a:hover:before, #header .sta .etc .nav_download li a:focus:before{background:url("../images/ico_download_w.png") 50% 50% no-repeat; background-size:cover; opacity:1.0; transition:all 0.3s ease-out;} */

/* header(기타:알람,알람내역 프로필, 로그아웃) */
/* #header .nav_etc{display:inline-block; text-align:left;}
#header .nav_etc > li{display:inline-block; position:relative; height:100%; margin:0 7px 0 0; vertical-align:middle;}
#header .nav_etc > li:last-child{margin:0;}
#header .nav_etc .lst_dropdown .tit_dropdown{display:block; position:relative;}
#header .nav_etc .lst_dropdown .tit_dropdown .num{display:block; position:absolute; top:1px; right:6px; width:12px; height:12px; color:rgba(255,255,255,0.5); font-size:8px; text-indent:-1px; text-align:center; line-height:12px; border-radius:10px; background:rgba(11,42,74,0.6);}

#header .nav_etc .lst_dropdown .btn_dropdown{display:block; position:relative; overflow:hidden; width:30px; height:30px; margin:5px; border:none; border-radius:50px; background:#fff; background-size:cover !important; opacity:0.4; transition:all 0.3s ease-out;} 
#header .nav_etc .lst_dropdown .btn_dropdown > span{display:block; text-indent:-999px;}
#header .nav_etc .lst_dropdown .btn_dropdown > img{position:absolute; top:0; left:0; width:100%; height:100%;}
#header .nav_etc .lst_dropdown .btn_dropdown:hover, #header .nav_etc .lst_dropdown .btn_dropdown:focus{opacity:0.8; transition:all 0.3s ease-out;}

#header .nav_etc .lst_dropdown .cont_dropdown{display:none; position:absolute; right:0; min-width:270px; border-radius:4px; background:#fff; box-shadow:0 0 15px rgba(11,42,74,0.2);}
#header .nav_etc .lst_dropdown .cont_dropdown .tit{display:block; clear:both; overflow:hidden; padding:10px; border-bottom:1px solid rgba(11,42,74,0.1);}
#header .nav_etc .lst_dropdown .cont_dropdown .tit strong{float:left; height:24px; color:rgba(11,42,74,0.6); font-size:15px; font-weight:300; line-height:22px;}
#header .nav_etc .lst_dropdown .cont_dropdown .svcBox{float:right; padding:3px 10px; color:#fff; font-size:11px; border-radius:4px; background:linear-gradient(45deg, #008ad8, #00aebc);}

#header .nav_etc .lst_dropdown .cont_dropdown .cont{display:block;}
#header .nav_etc .lst_dropdown .cont_dropdown ul.lst{display:block;}
#header .nav_etc .lst_dropdown .cont_dropdown ul.lst li{display:block; padding:10px; color:rgba(11,42,74,0.3); font-size:13px; border-bottom:1px solid rgba(11,42,74,0.05); transition:all 0.3s ease-out;}
#header .nav_etc .lst_dropdown .cont_dropdown ul.lst li:last-child{border:none;}
#header .nav_etc .lst_dropdown .cont_dropdown ul.lst li a{display:table; width:100%; color:rgba(11,42,74,0.6); transition:all 0.3s ease-out;}
#header .nav_etc .lst_dropdown .cont_dropdown ul.lst li:hover, #header .nav_etc .lst_dropdown .cont_dropdown ul.lst li:focus{background:rgba(11,42,74,0.03); transition:all 0.3s ease-out;}
#header .nav_etc .lst_dropdown .cont_dropdown ul.lst li a:hover, #header .nav_etc .lst_dropdown .cont_dropdown ul.lst li a:focus{color:rgba(11,42,74,1.0); text-decoration:underline; transition:all 0.3s ease-out;}
#header .nav_etc .lst_dropdown .cont_dropdown ul.lst li a span{display:table-cell;}

#header .nav_etc .lst_dropdown.ico_alarm .btn_dropdown{border-radius:0; background:url("../images/ico_bell_bk.png") 50% 50% no-repeat;}
#header .nav_etc .lst_dropdown.ico_avatar .btn_dropdown{background:url("../images/ico_avatar_bk.png") 50% 50% no-repeat;}

#header .nav_etc .lst_dropdown.ico_avatar .cont_dropdown{min-width:150px;}

#header .nav_etc .lst_dropdown .cont_dropdown ul.lst li a.ico_profile:before{content:''; display:inline-block; width:15px; height:15px; margin:-2px 7px 0 0; vertical-align:middle; background:url("../images/ico_setup_bk.png") 50% 50% no-repeat; background-size:cover; opacity:0.5;}
#header .nav_etc .lst_dropdown .cont_dropdown ul.lst li a.ico_logout:before{content:''; display:inline-block; width:15px; height:15px; margin:-2px 7px 0 0; vertical-align:middle; background:url("../images/ico_logout_bk.png") 50% 50% no-repeat; background-size:cover; opacity:0.5;} */

/* ==================== container ==================== */
/* #container{position:relative; display:block; width:100%; height:auto;} */
/* #container{position:relative; display:table; width:100%; height:calc(100% - 100px); vertical-align:top;} */

/* container(Side Navigation Bar) */
/* #snb{display:table-cell; width:200px; min-width:200px; height:100%; vertical-align:top; background:#fff; box-shadow:0 4px 7px 0 rgba(100,105,120,0.2);}
#snb .lst_nav{display:block; width:200px; padding:35px 0 0 0; border-top:1px solid #eef1f7; transition:all 0.3s ease-out;}
#snb .lst_nav > li{display:block; margin:0 0 15px 0;}
#snb .lst_nav li h3{height:30px; margin:0 0 3px 0; padding:0 15px; color:rgba(11,42,74,0.3); font-size:16px; font-weight:300; line-height:30px; letter-spacing:-1px; text-transform:uppercase;}
#snb .lst_nav li ul{display:block;}
#snb .lst_nav li ul li{display:block; margin:0 0 7px 0;}
#snb .lst_nav li ul li:last-child{margin:0;}
#snb .lst_nav li ul li a{position:relative; height:22px; padding:0 0 0 25px; color:rgba(11,42,74,0.6); font-size:12px; font-weight:400; line-height:20px; text-transform:uppercase; transition:all 0.3s ease-out;}
#snb .lst_nav li ul li a span{position:relative; z-index:10;}
#snb .lst_nav li ul li a:hover, #snb .lst_nav li ul li a:focus{color:rgba(11,42,74,1.0); text-decoration:underline; transition:all 0.3s ease-out;}
#snb .lst_nav li ul li a.active{display:block; position:relative; padding:8px 0 8px 25px; color:#fff;}
#snb .lst_nav li ul li a.active span{font-size:14px;}
#snb .lst_nav li ul li a.active:after{content:''; position:absolute; top:0; left:0; width:calc(100% - 20px); height:100%; border-radius:0 5px 5px 0; box-shadow:0 0 15px rgba(11,42,74,0.3); background:linear-gradient(45deg, #008ad8, #00aebc); z-index:5;} */

/* container(contents) */
/* #contents{display:table-cell; width:calc(100% - 200px);} */

/* contents(content) */
/* .content{display:table; width:calc(100% - 100px); padding:0 50px;} */

/* contents(Title Area) */
/* .titArea{display:block; padding:40px 0 20px 0;}
.titArea h3{float:left; color:#fff; font-size:30px; font-weight:100; line-height:30px; letter-spacing:-1px; text-transform:uppercase;}
.titArea .path{display:block; clear:both; overflow:hidden; padding:9px 0 0 0;}
.titArea .path ul.path_nav{float:left;}
.titArea .path ul.path_nav li{display:inline-block; vertical-align:middle;}
.titArea .path ul.path_nav li:after{content:''; display:inline-block; width:8px; height:8px; margin:0 7px; vertical-align:middle; background:url("../images/arw_right_w.png") 50% 50% no-repeat; background-size:cover; opacity:0.4;}
.titArea .path ul.path_nav li span{color:rgba(255,255,255,1.0); font-size:12px; text-transform:uppercase; vertical-align:middle; opacity:0.6;}
.titArea .path ul.path_nav li a{color:rgba(255,255,255,1.0); font-size:12px; text-transform:uppercase; vertical-align:middle; opacity:0.6; transition:all 0.3s ease-out;}
.titArea .path ul.path_nav li a:hover, .titArea .path ul.path_nav li a:focus{opacity:1.0; text-decoration:underline; transition:all 0.3s ease-out;}
.titArea .path ul.path_nav li a.home{display:inline-block; overflow:hidden; width:12px; height:12px; margin:-1px 0 0 0; vertical-align:middle; text-indent:99px; background:url("../images/ico_home_w.png") 50% 50% no-repeat; background-size:cover; transition:all 0.3s ease-out;}
.titArea .path ul.path_nav li:last-child a{color:rgba(255,255,255,1.0);}
.titArea .path ul.path_nav li:last-child span{color:rgba(255,255,255,1.0); opacity:1.0;}
.titArea .path ul.path_nav li:last-child:after{display:none;} */

/* section */
/* .stn{display:block; margin:0 0 20px 0;} */
/* .stn .stn_tit{display:block; position:relative;}
.stn .stn_tit h4{display:inline-block; color:rgba(11,42,74,1.0); font-size:16px; font-weight:500;}
.stn .stn_cont{display:block; position:relative;} */

/* section(All Box Type) */
/* .stn.allBoxType{overflow:hidden; border-radius:4px; background:#fff; box-shadow:0 0 15px rgba(11,42,74,0.2);}
.stn.allBoxType .stn_tit{display:block; clear:both; padding:10px 25px; background:rgba(11,42,74,1.0);}
.stn.allBoxType .stn_tit h4{display:inline-block; position:relative; height:30px; color:#fff; line-height:28px;}
.stn.allBoxType .stn_tit h4:before{content:''; display:inline-block; width:30px; height:30px; margin:0 5px 0 0; vertical-align:middle; background:url("../images/ico_refer_w.png") 50% 50% no-repeat; background-size:cover; opacity:0.5;}
.stn.allBoxType .stn_cont{display:block; padding:12px 24px;}
.stn.allBoxType .stn_cont p.txt{display:block; margin:0; padding:0; color:rgba(11,42,74,0.9); font-size:13px; line-height:24px;}
.stn.allBoxType .stn_cont ul.lst{display:block;}
.stn.allBoxType .stn_cont ul.lst li{display:block; position:relative; padding:0 0 0 35px; color:rgba(11,42,74,0.6); font-size:13px; line-height:24px;}
.stn.allBoxType .stn_cont ul.lst li:before{content:'ㆍ'; position:absolute; top:-1px; left:7px; font-family:"Spoqa Han Sans", sans-serif; color:rgba(11,42,74,0.3); font-size:30px;}
.stn.allBoxType .stn_cont .codeview{display:block; margin:0 0 0 20px;} */

@media (max-width:768px){
    #wrap{min-width:100%; overflow-x:hidden;}
}
