@charset "utf-8";

#wrap { width:100%; position:relative; overflow:hidden; }
#wrap .ui-content { border-width:0; overflow:visible; overflow-x:hidden; padding:0; }
#wrap .content { background:#fff; padding:50px 24px 56px;  } 

input[type="text"]::placeholder { color:#a9b0bb !important; font-family:'NBGothicL' !important; font-size:14px; }
input[type="text"]:-ms-input-placeholder { color:#a9b0bb !important; font-family:'NBGothicL' !important; font-size:14px; }
input[type="text"]::-ms-input-placeholder { color:#a9b0bb !important; font-family:'NBGothicL' !important; font-size:14px; }


/* login_section */
.login_section { width:100%; height:auto; } 
.login_section .ui-body-inherit { border:1px solid #a9b0bb; color:#424852; font-family:'NBGothicR'; font-size:14px; text-shadow:none; box-shadow:none; border-radius:0; margin:0 0 16px; } 
.login_section .ui-body-inherit:nth-child(2) { margin:0; } 
.login_section .ui-input-text input { margin:0; min-height:48px; height:48px; vertical-align:middle; text-align: left; border:0; background:transparent none; -webkit-appearance:none; -webkit-border-radius:inherit; border-radius:0; padding:0 24px; line-height:100%; display:block; width:100%; -webkit-box-sizing:border-box; moz-box-sizing:border-box; box-sizing:border-box; outline: 0; } 
.login_section .login_btn { width:100%; height:48px; background:#d94452; color:#fff; font-size:20px; font-family:'GodoM'; }
.login_section .ui-btn:hover { width:100%; height:48px; background:#d94452 !important; color:#fff !important; font-size:20px; font-family:'GodoM'; text-shadow:none; }
.login_section .ui-btn { margin:24px 0; padding:0; display:block;  position:relative; text-align:center; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; cursor:pointer; -webkit-user-select none; -moz-user-select:none; -ms-user-select:none; user-select:none;     background-color:transparent; color:#fff; text-shadow:none; box-shadow:none; height:48px; background:#d94452; color:#fff; font-size:20px; font-family:'GodoM'; border-radius:24px; border:0; font-weight:normal; vertical-align:middle; box-sizing:border-box; line-height:48px; }
.login_section .login_find_idpw { display:block; text-align:center; width:169px; height:16px; margin:0 auto; }
.login_section .login_find_idpw a { height:16px; line-height:16px; display:block; float:left; font-size:14px; color:#636c77; font-family:'NBGothicR'; font-weight:normal; }
.login_section .login_find_idpw a.login_find_id { padding-right:12px; border-right:1px solid #a9b0bb; margin-right:12px; }


/* sns_section  */
.sns_section { margin-top:48px; width:100%; height:auto; }
.sns_section h3 { text-align:left; color:#424852; font-size:18px; font-family:'GodoM'; line-height:100%; text-shadow:none; font-weight:normal; margin-bottom:24px; }

.sns_section .sns_login_btn { display:block; padding:0; margin:0; width:100%; height:48px; border-radius:24px; font-size:18px; font-family:'GodoM'; background:#fff; outline:0; margin-bottom:16px; text-shadow:none; box-shadow:none; }
.sns_section .sns_login_btn .sns_box { display:inline-block; width:auto; height:24px; vertical-align:middle; }
.sns_section .sns_login_btn .sns_img { display:block; float:left; width:90px; height:24px; }
.sns_section .sns_login_btn b { display:block; float:left; height:24px; line-height:24px;  font-weight:normal; margin-left:12px; }
.sns_section .naver_login { color:#00c73c; border:1px solid #00c73c; }
.sns_section .naver_login .sns_img { background:url('../img/m_naver.png') left top no-repeat; background-size:cover; }
.sns_section .naver_login:hover { background:#00c73c; color:#fff; }
.sns_section .naver_login:hover .sns_img { background:url('../img/m_naver.png') left -24px no-repeat; background-size:cover; }
.sns_section .kakao_login { color:#ffcd00; border:1px solid #ffcd00; }
.sns_section .kakao_login .sns_img { width:68px; background:url('../img/m_kakao.png') left top no-repeat; background-size:cover; }
.sns_section .kakao_login:hover { background:#ffcd00; color:#fff; }
.sns_section .kakao_login:hover .sns_img { background:url('../img/m_kakao.png') left -24px no-repeat; background-size:cover; }
.sns_section .facebook_login { color:#3b559f; border:1px solid #3b559f; margin-bottom:0; }
.sns_section .facebook_login .sns_img { background:url('../img/m_facebook.png') left top no-repeat; background-size:cover; }
.sns_section .facebook_login:hover { background:#3b559f; color:#fff; }
.sns_section .facebook_login:hover .sns_img { background:url('../img/m_facebook.png') left -24px no-repeat; background-size:cover; }

/*  join_go_section */
.join_go_section { margin-top:48px; text-align:center; color:#424852; font-family:'NBGothicR'; font-size:16px; line-height:100%; width:100%; }
.join_go_section .login_go_join { margin-bottom:16px; }
.join_go_section p a { font-family:'NBGothicB'; color:#d94452 !important; border-bottom:1px solid #d94452; text-shadow:none; font-weight:normal; }


@media screen and (max-width:720px) {
}










@media screen and (max-width:360px) {
	
}




