@charset "utf-8";

body { position:relative; top:0; left:0; background:#fff; }

#header { position:absolute; top:0; left:0; right:0; width:100%; z-index:20; height:auto; }
#header .header { position:absolute; top:0; left:50%; margin-left:-490px; width:980px; }
#container { clear:both; width:980px; margin:48px auto 136px; height:auto; background:#fff; }


/* header #login */
#header #login { float:right; margin-right:24px; height:30px; font-size:14px; font-family:'ESansL'; line-height:30px; }
#header #login a { color:#fff; }
#header #login span { display:inline-block; margin:0 16px; width:1px; height:12px; background:#cad0d7; }


/* header gnb1 */
.gnb1 { display:block; font-family:'ESansB'; clear:both; position:absolute; top:30px; left:0; z-index:20; text-align:center; background-color:transparent; width:980px; }
.gnb1>a>img { float:left; margin-left:24px; }
.gnb1 ul { float:right; margin-right:24px; margin-top:120px; height:24px; }
.gnb1 ul li { display:inline-block; list-style:none; float:left; height:22px; box-sizing:border-box; }
.gnb1 ul li a { display:block; color:#fff; padding:0 16px; text-decoration:none; font-size:22px; } 
.gnb1 ul li:first-child a { padding:0 16px 0 0; }
.gnb1 ul li:last-child a { padding:0 0 0 16px; }
.gnb1 ul li:last-child { margin-top:-1px; }


/* header gnb2 */
.gnb2 { display:none; font-family:'ESansB'; clear:both; position:fixed; top:30px; z-index:20; text-align:center; background-color:transparent; width:980px; height:90px; }
.gnb2>a>img { float:left; margin:24px 0 0 24px; }
.gnb2 ul { float:right; margin-right:24px; height:90px; }
.gnb2 ul li { list-style:none; float:left; height:24px; line-height:90px; box-sizing:border-box; }
.gnb2 ul li a { display:block; color:#fff; padding:0 16px; text-decoration:none; font-size:22px; height:22px; } 
.gnb2 ul li:first-child a { padding:0 16px 0 0; }
.gnb2 ul li:last-child a { padding:0 0 0 16px; }
.gnb2 ul li a img { vertical-align:-4px; }

/* slider */
.slider { width:100%; }
.slider-wrapper { width:100%; height:764px; position:relative; top:0; left:0; }
.slide { float:left; position: absolute; z-index:10; width:100%; height:764px; max-height:764px; opacity:0; transition:opacity 1s linear; text-align:center; box-sizing:border-box; }
.slider-wrapper > .slide:first-child { opacity:1; }
.slide::before { background-color:rgba(0,0,0,0.2); content:''; display:block; height:764px; position:absolute; width:100%; }
.first { background:url('../img/2017_11_06_bari0057_1146.jpg') no-repeat center; background-size:cover; }
.second { background:url('../img/acaibowl.jpg') no-repeat center; background-size:cover; }
.slider_txt { position:absolute; top:592px; width:980px; height:124px; left:50%; margin-left:-490px; background:rgba(0,0,0,0.2); z-index:15; }
.slider_txt p { font-family:'ESansB'; color:#fff; font-size:24px; text-align:center; line-height:124px; }
@media (max-width: 980px) {	
	.slide { background-size:980px 764px; }
}


/* container */
#container>div { width:100%; height:306px; box-sizing:border-box; }
#container>div>img { width:490px; height:100%; box-sizing:border-box; }
#container>div>a { display:inline-block; width:490px; height:100%; box-sizing:border-box; padding:48px 0; text-align:center; color:#696969; font-size:16px; background:url('../img/mainImg_nh.png') no-repeat center 234px; background-size:24px; }
#container>div>a:hover { color:#424852; background:url('../img/mainImg_h.png') no-repeat center 234px; }
#container a span.subject { font-size:20px; font-family:'ESansB'; margin-bottom:17px; letter-spacing:2px; }
#container a span.explain { display:block; font-family:'ESansL','NBGothicL',dotum; font-size:16px; line-height:30px; font-size:16px; }

/* footer */
#footer { margin:0 auto; border-top:1px solid #000; width:980px; height:150px; box-sizing:border-box; padding:24px; color:#636c77; }
#footer div { float:left; }
#footer .f_first { padding:0 24px 0 0; box-sizing:border-box; font-size:12px; font-family:'ESansL','NBGothicL'; }
#footer .f_first img { margin-bottom:24px; }
#footer .f_mid { padding:0 24px; box-sizing:border-box; font-size:16px; }
#footer .f_mid p { margin-bottom:9px; }
#footer .f_mid p:last-child { margin-bottom:0px; }
#footer .f_th { float:right; width:auto; margin-top:27px; }
#footer .f_th a { width:48px; height:48px; display:inline-block; float:left; margin-left:24px; border-radius:50%; }


#top { position:fixed; width:64px; height:64px; bottom:176px; left:50%; z-index:25; margin-left:514px; text-indent:-9999px; }
#top a { display:block; width:100%; height:100%; background:url('../img/top_btn.png') no-repeat center; }