@charset "utf-8";

/* layout */
.cart_section01 { width:960px; margin:0 auto 100px; }


/* cart_section01 */
.cart_section01>p { font-family:'NBGothicL'; font-size:12px; color:#636c77; line-height:100%; margin-bottom:24px; }
.cart_inner_section01 table { width:100%; height:auto; position:relative; }
.cart_inner_section01 table tr:nth-child(1) { height:48px; border-top:2px solid #424852; border-bottom:1px solid #424852; }
.cart_inner_section01 table tr th { text-align:center; vertical-align:middle; font-family:'GodoM'; font-size:16px; color:#636c77; }
.cart_inner_section01 table tr { border-bottom:1px solid #cad0d7; }
.cart_inner_section01 table tr:last-child { border-bottom:0; }
.cart_inner_section01 table tr td { padding:24px 0; text-align:center; vertical-align: middle; }
.cart_inner_section01 table tr td:nth-child(2) { vertical-align: middle; text-align:left; }
.cart_inner_section01 table tr td:nth-child(2) img { float:left; vertical-align: middle; margin-right:16px; box-sizing:border-box; border:1px solid #cad0d7; width:92px; height:134px; }
.cart_inner_section01 table tr td:nth-child(2) p { float:left; vertical-align: middle; margin-top:48px; }
.cart_inner_section01 table tr td:nth-child(2) p span { display:block; }
.cart_inner_section01 table tr td:nth-child(2) p .book_name { font-size:16px; font-family:'NBGothicB'; color:#424852; margin-bottom:12px; }
.cart_inner_section01 table tr td:nth-child(2) p .book_explain { font-size:12px; font-family:'NBGothicL'; color:#a9b0bb; }
.cart_inner_section01 table tr td .benefit_price { width:30px; display:inline-block; margin-bottom:12px; }
.cart_inner_section01 table tr td .benefit_point { width:19px; display:inline-block; margin-bottom:12px; }
.cart_inner_section01 table tr td .cart_selling_price { font-size:16px; color:#424852; font-family:'GodoM'; }
.cart_inner_section01 table tr td .cart_point { font-size:16px; color:#424852; font-family:'GodoM'; }
.cart_inner_section01 table tr td .cart_total_price { font-size:16px; color:#424852; font-family:'GodoM'; }
.cart_inner_section01 table tr td.cart_order_count_box p { width:51px; height:31px; display:inline-block; }
.cart_inner_section01 table tr td.cart_order_count_box p .cart_order_count { padding:0; width:35px; height:31px; box-sizing:border-box; color:#424852; font-size:16px; font-family:'GodoM'; text-align:center; vertical-align:middle; float:left; border:1px solid #e4e8eb; border-right:0;}
.cart_inner_section01 table tr td.cart_order_count_box p .cart_order_count_btn { width:16px; height:16px; border:1px solid #e4e8eb; box-sizing:border-box; padding:0; margin:0; float:right; }
.cart_inner_section01 table tr td.cart_order_count_box p .cart_order_plus_btn { background:url('../img/upanddown.png') left top no-repeat; }
.cart_inner_section01 table tr td.cart_order_count_box p .cart_order_minus_btn { background:url('../img/upanddown.png') left -14px no-repeat; border-top:0; height:15px; }
.cart_inner_section01 .cart_total_box { width:100%; height:68px; line-height:68px; }
.cart_inner_section01 .cart_total_box { width:100%; height:68px; line-height:68px; border-top:1px solid #424852; border-bottom:2px solid #424852; }
.cart_inner_section01 .cart_total_box { width:100%; height:68px; line-height:68px; box-sizing:border-box; padding:0 24px 0 48px; border-top:1px solid #424852; border-bottom:2px solid #424852; margin-bottom:48px; }
.cart_inner_section01 .cart_total_box>p { float:left; font-family:'NBGothicL'; color:#636c77; font-size:14px; height:100%; }
.cart_inner_section01 .cart_total_box>p b { font-family:'NBGothicB'; }
.cart_inner_section01 .cart_total_box .cart_total_price_box { float:right; width:auto; height:100%; }
.cart_inner_section01 .cart_total_box .cart_total_price_box .only_txt { float:left; font-size:14px; color:#636c77; font-family:'NBGothicL'; margin-right:16px;}
.cart_inner_section01 .cart_total_box .cart_total_price_box .cart_total_payment { float:right; font-size:16px; font-family:'GodoM'; color:#d94452; }
.cart_inner_section01 .cart_total_box .cart_total_price_box .cart_total_payment span { font-size:24px; }
.cart_inner_section01 .cart_section01_bottom { width:100%; height:40px; }
.cart_inner_section01 .cart_section01_bottom .cart_delete_btn_box { float:left; margin-top:16px; height:24px; width:auto; }
.cart_inner_section01 .cart_section01_bottom .cart_delete_btn_box .checkbox_img { display:block; float:left; width:12px; height:12px; margin-top:6px; background:url(../img/checkBox.png) -12px top no-repeat; }
.cart_inner_section01 .cart_section01_bottom .cart_delete_btn_box p { float:left; font-size:12px; color:#424852; font-family:'NBGothicL'; margin:0 10px 0 5px; height:24px; line-height:24px;}
.cart_inner_section01 .cart_section01_bottom .cart_delete_btn_box .cart_delete_btn { width:36px; height:24px; background:#fff; border:1px solid #a9b0bb; box-sizing:border-box; color:#636c77; font-family:'NBGothicL'; font-size:12px; padding:0; }
.cart_inner_section01 .cart_section01_bottom .cart_btn_box { float:right; height:100%; }
.cart_inner_section01 .cart_section01_bottom .cart_btn_box .cart_btn { float:left; margin:0; margin-right:16px; width:168px; height:40px; line-height:38px; padding:0; box-sizing:border-box; border-radius:20px; text-align:center; font-size:16px; font-family:'GodoM'; }
.cart_inner_section01 .cart_section01_bottom .cart_btn_box .go_shopping_btn { color:#636c77; background:#fff; border:1px solid #636c77; }
.cart_inner_section01 .cart_section01_bottom .cart_btn_box .choice_product_btn { color:#fff; background:#4a88da; border:1px solid #4a88da; }
.cart_inner_section01 .cart_section01_bottom .cart_btn_box .all_product_btn { color:#fff; background:#d94452; border:1px solid #d94452; margin-right:0; }
.cart_service_guide_box { padding-top:68px; width:100%; height:auto; }
.cart_service_guide_box h4 { font-size:14px; color:#636c77; font-family:'NBGothicB'; line-height:16px; height:16px; padding-left:20px; background:url(../img/service_guide.png) left top no-repeat; padding-bottom:10px; }
.cart_service_guide_box ul li { line-height:24px; font-size:12px; color:#636c77; font-family:'NBGothicL';}
.cart_service_guide_box ul li:before { content:'\2219'; padding-right:4px; }



input.checkbox { display:none; }
input.checkbox + label span { display:inline-block; width:12px; height:12px; vertical-align:middle;background:url('../img/checkBox.png') left top no-repeat; cursor:pointer; }
input.checkbox:checked + label span { background:url('../img/checkBox.png') -12px top no-repeat; }
    



/* no_cart */
.no_cart_table tr:last-child { height:183px; color:#636c77; font-size:16px; font-family:'GodoM'; }





