@charset "utf-8";

/* reset */
*{ margin:0; padding:0; box-sizing:border-box; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, textarea, input, button{ font-size:62.5%; font-family:'SCDream'; line-height:normal; font-weight:300; color:#fff; letter-spacing:-0.5px; margin:0; padding:0; border:0; vertical-align:baseline; }
html{ overflow:visible; width:100%; overflow-x:hidden; scrollbar-width:thin; scrollbar-color:rgba(0,0,0,0.3) transparent; }
body{ height:100%; -webkit-overflow-scrolling:touch; }
table{ border-collapse:collapse; }
button{ background:none; border:none; cursor:pointer; }
input{ background:none; border:none; padding:0; margin:0; font-size:1.2rem; }
input::placeholder{ color:#010101; }
button:focus, a:focus, input:focus, textarea:focus{outline:none;}
select:focus{ outline:none; }
ol,ul{ list-style: none !important; }
a{ color:#010101; text-decoration:none; }
em{ font-weight:500; }

::-webkit-scrollbar{ width:4px; height:4px; }
::-webkit-scrollbar-thumb{ background-color:rgba(0,0,0,0.35); border-radius:12px; background-clip:border-box; -webkit-border-radius:12px; -moz-border-radius:12px; -ms-border-radius:12px; -o-border-radius:12px; border:1px solid rgba(255,255,255,0.6); }
::-webkit-scrollbar-track{background-color: transparent; border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; -o-border-radius:0;}

.w100p{ width:100% !important; }
.disflex{ display:flex !important; }
.disb{ display:block !important; }
.flex_fr{ display:flex; justify-content:flex-end !important; align-items:center; }
.aifs{ align-items:flex-start !important; }
.dfac{ display:flex; align-items:center; }
.dfacjc{ display:flex; align-items:center; justify-content:center; }
.dfacsb{ display:flex; align-items:center; justify-content:space-between; }
.fwL{ font-weight:300; }
.fwM{ font-weight:500; }
.fwEB{ font-weight:800; }
.tal{ text-align:left !important; } 
.tac{ text-align:center !important; }
.tar{ text-align:right !important; }
.letpace0{ letter-spacing:0;}
.fs16{ font-size:1.6rem; }
.fs18{ font-size:1.8rem; }
.mt8{ margin-top:0.8rem; }
.mt24{ margin-top:2.4rem; }
.mt36{ margin-top:3.6rem; }
.mt36{ margin-top:4rem; }